.HiringDiv {
    margin-top: 150px;
}
.Hiring {
    color: #c4c7ce;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-left: 15px;
}
.build {
    color: #d9d6df;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    margin-left: 15px;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.flexRow {
    height: 120px;
    border-radius: 4px;
    background: #1e1a2b;
    box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    padding-left: 20px;
}

.barImage {
    margin-right: 15px;
}
.textDiv{
    padding-left: 20px;
}
.textDiv P {
    color:  #d9d6df;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 500;  
    margin: 0;
    padding-left: 0;
}
.textDiv p:nth-child(2) {
    margin-left: -60px; 
}
.textDiv span{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background-color:#4c4e52;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
}
.iconDiv {
    margin-left: auto; 
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.Btn{
    border: 2px solid #8d49e4 !important;
    border-radius: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: #fff !important;
    font-family: 'Nunito', sans-serif !important;
}


@media (max-width: 768px) {
    .heading {
        padding-left: 20px; 
    }

    .Hiring {
        font-size: 12px; 
        text-align: center; 
    }

    .build {
        font-size: 24px; 
        line-height: 32px; 
        text-align: center; 
    }
    .formobileview{
        margin: 0px !important;
    }
    .headingformobile{
        margin: 0px !important; 
    }
}